# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [85]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weathercity_df = "output/weather_cities.csv"
part1_df = pd.read_csv(weathercity_df)
part1_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,kruisfontein,100,ZA,1619368272,43,-34.0033,24.7314,72.09,3.65
1,hobart,75,AU,1619368272,67,-42.8794,147.3294,57.00,10.36
2,arraial do cabo,0,BR,1619368272,61,-22.9661,-42.0278,84.20,9.22
3,cape town,0,ZA,1619368272,82,-33.9258,18.4232,69.01,16.11
4,katsuura,75,JP,1619368273,54,35.1333,140.3000,57.20,17.27

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# Create a map using coordinates 
marker_locations = part1_df[['Lat', 'Lng']]
weights = part1_df['Humidity']
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
fig.add_layer(gmaps.heatmap_layer(marker_locations,  weights= weights,
                                 dissipating=False, max_intensity=100,
                                 point_radius=5))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [75]:
#Fitting my weathe criteria:
high = 82
low = 72
new_df = part1_df.loc[(part1_df['Max Temp']< high) & (part1_df['Max Temp'] > low)        
                                                   & (part1_df['Cloudiness'] < 5)
                                                   & (part1_df['Wind Speed'] < 24)
                                                   & (part1_df['Humidity'] > 35)
                                                   & (part1_df['Humidity'] < 70),:] 
new_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
54,puerto vallarta,1,MX,1619368100,65,20.6204,-105.2307,80.60,3.47
109,nouadhibou,0,MR,1619368299,56,20.9310,-17.0347,73.40,23.02
227,karratha,0,AU,1619368330,61,-20.7377,116.8463,77.88,3.74
253,gat,2,IL,1619368201,46,31.6100,34.7642,79.00,1.99
259,ixtapa,1,MX,1619368338,65,20.7000,-105.2000,80.60,6.26
315,jalu,0,LY,1619368352,39,29.0331,21.5482,75.07,16.37
328,lufkin,1,US,1619368314,60,31.3382,-94.7291,75.00,6.91
435,port lavaca,1,US,1619368385,57,28.6150,-96.6261,80.01,17.27
449,awjilah,0,LY,1619368389,40,29.1081,21.2869,73.80,16.87
527,santiago del estero,0,AR,1619368409,36,-27.7951,-64.2615,73.94,5.73

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [80]:
hotel_df = pd.DataFrame(new_df)
hotel_df['Hotel Name'] = ''
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
54,puerto vallarta,1,MX,1619368100,65,20.6204,-105.2307,80.60,3.47,
109,nouadhibou,0,MR,1619368299,56,20.9310,-17.0347,73.40,23.02,
227,karratha,0,AU,1619368330,61,-20.7377,116.8463,77.88,3.74,
253,gat,2,IL,1619368201,46,31.6100,34.7642,79.00,1.99,
259,ixtapa,1,MX,1619368338,65,20.7000,-105.2000,80.60,6.26,
315,jalu,0,LY,1619368352,39,29.0331,21.5482,75.07,16.37,
328,lufkin,1,US,1619368314,60,31.3382,-94.7291,75.00,6.91,
435,port lavaca,1,US,1619368385,57,28.6150,-96.6261,80.01,17.27,
449,awjilah,0,LY,1619368389,40,29.1081,21.2869,73.80,16.87,
527,santiago del estero,0,AR,1619368409,36,-27.7951,-64.2615,73.94,5.73,

In [90]:
# find the closest restaurant of each type to coordinates
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Use the lat/lng recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

marker_locations = hotel_df[['Lat', 'Lng']]
target_radius = 5000
# set up a parameters dictionary
params = {
    "location": marker_locations,
    "type": "hotel",
    "radius": target_radius,
    "key": g_key
}



# run a request using our params dictionary
response = requests.get(base_url, params=params)
response
# convert response to json
#places_data = response.json()
# Print the json (pretty printed)
#print(json.dumps(places_data, indent=4, sort_keys=True))

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure